@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;

  * {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
    box-sizing: border-box;
  }
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.post-content {
  p {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  hr {
    margin-bottom: 0.5rem;
  }
}

code {
  padding: 3px 4px;
  border: none;
  border-radius: 3px;
  background-color: #e9ecef;
  font-size: 0.7rem;
  font-family: 'Pretendard', 'Malgun Gothic', sans-serif;
  margin-top: 5px;
}
